<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> First section : Data cleaning  </center>

In this notebook you will be cleaning your dataset and making sure it's fully ready for modeling.

The used dataset is [Hepatitis C  dataset](https://www.kaggle.com/fedesoriano/hepatitis-c-dataset)

## Data preparation 
As a first step we need to prepare the data :

1. Read the data set as a data frame ( file name is HepatitisCdata.csv) 
2. The here are the column of your dataset:
    1) X (Patient ID/No.)
    2) Category (diagnosis) (values: '0=Blood Donor', '0s=suspect Blood Donor', '1=Hepatitis', '2=Fibrosis', '3=Cirrhosis') ( the target ) 
    3) Age (in years)
    4) Sex (f,m)
    Attributes 5 to 14 refer to laboratory data:
    5) ALB : Albumin Blood Test
    6) ALP : Alkaline phosphatase
    7) ALT : Alanine Transaminase
    8) AST : Aspartate Transaminase
    9) BIL : Bilirubin
    10) CHE : Acetylcholinesterase
    11) CHOL : Cholesterol
    12) CREA : Creatinine 
    13) GGT : Gamma-Glutamyl Transferase
    14) PROT : Proteins
    
3. Remember your model only accepts numbers so make sure you deal properly with the missing values and the data types and justify your solution choices 
 
4. Make sure the dataset shape in the end is : rows 615 and  14 columns 
 
5. Once finished save the cleaned dataset as "clean_HepatitisC.csv" file

In [1]:
import pandas as pd 
import numpy as np

In [2]:
#To-Do: read the dataset 
data = pd.read_csv("HepatitisCdata.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  615 non-null    int64
 1   Category    615 non-null    object
 2   Age         615 non-null    int64
 3   Sex         615 non-null    object
 4   ALB         614 non-null    float64
 5   ALP         597 non-null    float64
 6   ALT         614 non-null    float64
 7   AST         615 non-null    float64
 8   BIL         615 non-null    float64
 9   CHE         615 non-null    float64
 10  CHOL        605 non-null    float64
 11  CREA        615 non-null    float64
 12  GGT         615 non-null    float64
 13  PROT        614 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 67.4+ KB

In [4]:
#To-Do  Start investigating the data types and correcting that 
# Provide explanation about each step in Markdown cells 
data.head()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

#### Checking the category data type and changing it to numerical:

In [5]:
data.Category.unique()

array(['0=Blood Donor', '0s=suspect Blood Donor', '1=Hepatitis',
       '2=Fibrosis', '3=Cirrhosis'], dtype=object)

In [6]:
for i in range(len(data)):
    if data.at[i,"Category"][0] != '0' or data.at[i,"Category"][1] == 's':
        data.at[i,"Category"] = int(data.at[i,"Category"][0]) + 1
    else:
        data.at[i,"Category"] = int(data.at[i,"Category"][0])

In [7]:
data["Category"] = data["Category"].astype(int)
data.Category.unique()

array([0, 1, 2, 3, 4])

#### Checking the sex data type and changing it to numerical:

In [8]:
data.Sex.unique()

array(['m', 'f'], dtype=object)

In [9]:
data.Sex.replace({'m': 1, 'f': 0}, inplace=True)

In [10]:
data.Sex.unique()

array([1, 0], dtype=int64)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  615 non-null    int64
 1   Category    615 non-null    int32
 2   Age         615 non-null    int64
 3   Sex         615 non-null    int64
 4   ALB         614 non-null    float64
 5   ALP         597 non-null    float64
 6   ALT         614 non-null    float64
 7   AST         615 non-null    float64
 8   BIL         615 non-null    float64
 9   CHE         615 non-null    float64
 10  CHOL        605 non-null    float64
 11  CREA        615 non-null    float64
 12  GGT         615 non-null    float64
 13  PROT        614 non-null    float64
dtypes: float64(10), int32(1), int64(3)
memory usage: 65.0 KB

> Data types are all numeric Now ! Next we need to deal with missing values for the feature columns

#To-Do list all the columns that contain missing values along with their counts

In [12]:
# To-Do Start providing solutions for each column that has missing data 
# Treat each case seperately 
# Hint : no data row should be deleted 
# Provide evidence that you filled those missing values after each step 
data.isna().sum()

Unnamed: 0     0
Category       0
Age            0
Sex            0
ALB            1
ALP           18
ALT            1
AST            0
BIL            0
CHE            0
CHOL          10
CREA           0
GGT            0
PROT           1
dtype: int64

In [13]:
data.ALB.describe()

count    614.000000
mean      41.620195
std        5.780629
min       14.900000
25%       38.800000
50%       41.950000
75%       45.200000
max       82.200000
Name: ALB, dtype: float64

In [14]:
data.ALB.fillna(data.ALB.mean(), inplace=True)

In [15]:
data.isna().sum()

Unnamed: 0     0
Category       0
Age            0
Sex            0
ALB            0
ALP           18
ALT            1
AST            0
BIL            0
CHE            0
CHOL          10
CREA           0
GGT            0
PROT           1
dtype: int64

In [16]:
data.ALT.describe()

count    614.000000
mean      28.450814
std       25.469689
min        0.900000
25%       16.400000
50%       23.000000
75%       33.075000
max      325.300000
Name: ALT, dtype: float64

In [17]:
data.ALT.fillna(data.ALT.mean(), inplace=True)
data.isna().sum()

Unnamed: 0     0
Category       0
Age            0
Sex            0
ALB            0
ALP           18
ALT            0
AST            0
BIL            0
CHE            0
CHOL          10
CREA           0
GGT            0
PROT           1
dtype: int64

In [18]:
data.PROT.describe()

count    614.000000
mean      72.044137
std        5.402636
min       44.800000
25%       69.300000
50%       72.200000
75%       75.400000
max       90.000000
Name: PROT, dtype: float64

In [19]:
data.PROT.fillna(data.PROT.mean(), inplace=True)
data.isna().sum()

Unnamed: 0     0
Category       0
Age            0
Sex            0
ALB            0
ALP           18
ALT            0
AST            0
BIL            0
CHE            0
CHOL          10
CREA           0
GGT            0
PROT           0
dtype: int64

In [20]:
categories_ALP_means = data.groupby('Category').mean()["PROT"]

In [21]:
# for row in data[data.ALP.isna()].index:
#     data.at[row,"ALP"] = categories_ALP_means[int(data.iloc[row]["Category"])]
data.ALP = data['ALP'].fillna(data.groupby('Category')['ALP'].transform('mean'))
data.isna().sum()

Unnamed: 0     0
Category       0
Age            0
Sex            0
ALB            0
ALP            0
ALT            0
AST            0
BIL            0
CHE            0
CHOL          10
CREA           0
GGT            0
PROT           0
dtype: int64

In [22]:
data.CHOL = data.CHOL.fillna(data.groupby('Category')['CHOL'].transform('mean'))

data.isna().sum()

Unnamed: 0    0
Category      0
Age           0
Sex           0
ALB           0
ALP           0
ALT           0
AST           0
BIL           0
CHE           0
CHOL          0
CREA          0
GGT           0
PROT          0
dtype: int64

> We have no more missing data
As an optional thing we can also rename the first column as 'index' or "ID" instead of Unnamed

In [23]:
data.columns

Index(['Unnamed: 0', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST',
       'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

In [24]:
data.rename(columns={'Unnamed: 0': "ID"}, inplace=True)

In [25]:
data.columns

Index(['ID', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL',
       'CHE', 'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

### 6. Save the clean dataset :

In [26]:
# Don't forget to drop the index 
data.to_csv('clean_HepatitisC.csv',index=False)